.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.navbar-hidden.navbar-show {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out !important;
}

.navbar-outline {
  outline: 2px solid grey;
}

.dark-mode-toggle {
  transition: transform 0.3s, box-shadow 0.3s;
}

.dark-mode-toggle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-link {
  text-decoration: none;
  transition: transform 0.3s;
}

.custom-link:hover {
  transform: scale(1.1);
}

.home-link::after {
  content: "back to main page"; /* Add the desired tooltip text */
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.home-link:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  /* Remove hover effect and ::after pseudo-element on mobile */
  .home-link:hover {
    transform: none;
  }
  .home-link:hover::after {
    display: none !important;
  }

  .custom-link:hover {
    transform: none; /* Remove transform scale effect on mobile */
  }
}